#Bebk{
  border:1px solid lightgray;
  font-size:20px;
  color:darkgreen;
  width:300px;
  height:70px;
}
#Bebk>h4{
  display:inline-block;
  margin-left:20px;
  float:left;
}
#Bebk>button{
  display:inline-block;
  margin-right:20px;
  float:right;
}
